<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Photo:</strong>
  <p><%= image_tag @course.photo %></p>
</p>

<p>
  <strong>Video:</strong>
  <p>
    <iframe width="560" height="315"
      src="//www.youtube.com/embed/<%= @course.video %>" frameborder="0" allowfullscreen>
    </iframe>
  </p>
</p>

<p>
  <strong>Longdescription:</strong>
  <%= raw(@course.longDescription) %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
