<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Largeicon:</strong>
  <%= @course.largeIcon %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @course.photo %>
</p>

<p>
  <strong>Shortdescription:</strong>
  <%= @course.shortDescription %>
</p>

<p>
  <strong>Video:</strong>
  <%= @course.video %>
</p>

<p>
  <strong>Longdescription:</strong>
  <%= @course.longDescription %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
